body {
  color: #5d5c5c;
  overflow: hidden;
  margin: 0;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover {
  color: rgb(245, 192, 95);
}

a:after {
  content: '●';
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10px;
  margin-top: -5px;
  vertical-align: middle;
  display: inline-block;
}

p {
  margin: 0;
}

button {
  background: none;
  outline: none;
  border: none;
  margin-right: 10px;
}

button.active {
  border: 1px solid red;
}

.btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  height: calc(100vh - 100px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 550px;
  margin: 0 auto;
}

.answers {
  margin-top: 20px;
  background: #dbfadb;
  padding: 20px;
  border: 1px solid #9bc59b;
}

.answers p {
  margin: 5px;
}

.answer {
  display: flex;
}

.answer p {
  flex: 1;
}

h1 {
  margin: 0;
  color: black !important;
}

.subheader {
  margin: 20px 0 60px 0;
}

.message {
  margin-top: 20px;
  font-weight: bold;
}

.streak {
  float: right;
  background: #ffd680;
  padding: 5px 10px;
  border-bottom: 3px solid orange;
  border-radius: 5px;
  color: #a0711b;
}

.show-list {
  border: 1px solid grey;
  display: inline-block;
  padding: 5px
}

.show-list:hover {
  cursor: pointer;
}

.ticker-top {
  position: absolute;
  top: 0;
  background: black;
  width: 100%;
  height: 30px;
}

.ticker-bottom {
  position: absolute;
  bottom: 0;
  background: black;
  width: 100%;
  height: 30px;
}

.list {
  font-family: 'VT323', monospace;
  text-transform: uppercase;
  position: absolute;
  font-size: 24px;
  white-space: nowrap;
}

.list-top {
  top: 0;
  animation: slideinRight 100s linear infinite;
}

.list-bottom {
  bottom: 0;
  animation: slideinLeft 100s linear infinite;
}


.draggable-wrap {
  width: 100%;
}

.last-update {
  margin-top: 30px;
  display: block;
}

.header {
  text-align: center;
}

.check-btn {
  background: #74db5e;
  padding: 5px 10px;
  border-radius: 5px;
  border-bottom: 3px solid green;
  color: #0b530b;
}

.check-btn:hover,
.show-answers-btn:hover {
  border: 2px solid green;
  cursor: pointer;
}

.show-answers-btn {
  background: #74db5e;
  padding: 5px 10px;
  border-radius: 5px;
  border-bottom: 3px solid green;
}

.message {
  text-align: center;
}

.message.green {
  background: #74db5e;
  padding: 5px 10px;
  border-radius: 5px;
  border-bottom: 3px solid green;
  color: white;
}

.message.red {
  border-bottom: 3px solid red;
  padding: 5px 10px;
  border-radius: 5px;
  background: #ff4949;
  color: white;
}

@keyframes slideinRight {
  from {
    right: -255%;
  }

  to {
    right: 100%;
  }
}

@keyframes slideinLeft {
  from {
    left: -255%;
  }

  to {
    left: 100%;
  }
}